<h3 class="center">Student Information Details</h3>    
<div class="row">

    <div class="col-md-6">
        <h6>First Name</h6>
        <p><%- student.firstName %></p>
        <br>

        <h6>Last Name</h6>
        <p><%- student.lastName %></p>
        <br>

        <h6>Middle Name</h6>
        <p><%- student.middleName %></p>
    </div>

    <div class="col-md-6">
        
        <h6>Date Of Birth</h6>
        <p><%- student.dateBirth %></p>
        <br>
    
        <h6>Contact Number</h6>
        <p><%- student.phoneNumber %></p>
        <br>
    
        <h6></h6>
        <p></p>
    
    </div>
</div>